body
{
    background-color: #fafafa; /*Con esta propiedad definimos el color de fondo*/
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Alata', sans-serif; /*Con esta propiedad definimos la tipografia*/
    font-weight: normal; /*Con esta propiedad colocamos el grosor basicamente de la fuente*/
}

/* HEADER */
.header
{
    background-color: #15191C;
    color: white;
}

.header-content figure 
{
    margin-top: 0px;
}

.header a 
{
    color: white;
    text-decoration: none;
}

.menu ol
{
    margin: 0px;
}

/* ABOUT ME*/
.about-me
{
    text-align: center;
    background-color: #15191C;
    color: white;
}

.about-me strong
{
    color: yellowgreen;
}

.about-me-name
{
    font-size: 40px; /*Con esta propiedad definimos el tamano de la fuente*/
    line-height: 1.5em; /*Con esta propiedad definimos el espaciado entre una linea y otra de la fuente*/
    letter-spacing: -0.5px; /*Con esta propiedad definimos el espaciado entre letras.*/
    /*text-transform: uppercase; Con esta propiedad definimos el tipo de texto, si todo en mayus o minus etc...*/
}

.about-me h1
{
    margin: 0px;
}

.about-me-image
{
    box-shadow: 2px 2px 10px white /*rgba(0,0,0,0.5)*/;
    border-radius: 10%;
    border-style: hidden;
}

.about-me-description p
{
    padding: 0px 30em 20px 30em;
    text-align: justify;
    margin-bottom: 0px;
}

/* CONTENT PAGE*/

.content-page
{
    margin: 0px 50px 0px 50px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    padding: 10px 30px 10px 50px;
    background-color: white;
}

/* EDUCATION */

/* HABILITIES */

.habilities-container
{
    display: flex;
    margin-left: 180px;
}

.habilities-container-html
{
    border: 0.1px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #E54D26/*rgba(0,0,0,0.20)*/;
    width: 300px;
    padding: 0px 10px 0px 10px;
    /*padding-left: 10px;
    padding-right: 10px; */
    text-align: justify;
    background-image: url('https://imgur.com/nlnjAx9.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position-x: right;
    margin: 0px 100px 0px 0px;
}

.habilities-container-css3
{
    border: 0.1px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #0070BA /*rgba(0,0,0,0.20)*/;
    width: 300px;
    padding: 0px 10px 0px 10px;
    /*padding-left: 10px;
    padding-right: 10px; */
    text-align: justify;
    background-image: url('https://imgur.com/bJxKuj9.png');
    background-size: 40px;
    background-repeat: no-repeat;
    background-position-x: right;
    margin: 0px 100px 0px 0px;
}

.habilities-container-css-sass
{
    border: 0.1px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #CD6799 /*rgba(0,0,0,0.20)*/;
    width: 300px;
    padding: 0px 10px 0px 10px;
    /*padding-left: 10px;
    padding-right: 10px; */
    text-align: justify;
    background-image: url('https://imgur.com/2meIh8b.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position-x: right;
    margin: 0px 100px 0px 0px;
}


.habilities-title
{
    font-weight: 800;
}

/* EXPERIENCE */
.myExperience-details{
    width: 500px;
}

.myExperience-imageContainer
{
    width: 500px;
}

/* EVENTS */


/* CONTACT ME */

/* FOOTER */

/*.aboutMe
{
    background-image: url('https://imgur.com/kJklcv6.jpg');
    background-color: #15191C;
    background-repeat: no-repeat;
    background-size: 300px;
    background-position-x: right;
    color: white;
} */