body
{
    background-color: white; /*Con esta propiedad definimos el color de fondo*/
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Alata', sans-serif; /*Con esta propiedad definimos la tipografia*/
    font-weight: normal; /*Con esta propiedad colocamos el grosor basicamente de la fuente*/
}

/* HEADER */
.header
{
    background-color: #15191C;
    color: white;
    height: 90px;
}

.header-content figure 
{
    margin: 0px;
}

.header a 
{
    color: white;
    text-decoration: none;
}

.menu li 
{
    height: inherit;
}

.menu ol, li
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    align-items: center;
}

.menu a
{
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.header-content 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: inherit;
}

.menu{
    height: inherit;
}

.menu ol 
{
    display: flex;
    flex-wrap: wrap;
    height: inherit;
}

/* ABOUT ME*/
.about-me
{
    text-align: center;
    background-color: #15191C;
    color: white;
}

.about-me strong
{
    color: lawngreen;
}

.about-me-name
{
    font-size: 40px; /*Con esta propiedad definimos el tamano de la fuente*/
    line-height: 1.5em; /*Con esta propiedad definimos el espaciado entre una linea y otra de la fuente*/
    letter-spacing: -0.5px; /*Con esta propiedad definimos el espaciado entre letras.*/
    /*text-transform: uppercase; Con esta propiedad definimos el tipo de texto, si todo en mayus o minus etc...*/
}

.about-me h1
{
    margin: 0px;
}

.about-me-image
{
    box-shadow: 2px 2px 10px white /*rgba(0,0,0,0.5)*/;
    border-radius: 10%;
    border-style: hidden;
}

.about-me-description p
{
    padding: 0px 30em 20px 30em;
    text-align: justify;
    margin-bottom: 0px;
}

/* CONTENT PAGE*/
/*These styes was deleted for a better style.*/
.content-page
{
    margin: 0px 50px 0px 50px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    padding: 10px 30px 10px 50px;
    background-color: white;
}

/* EDUCATION */

/* HABILITIES */

.habilities-container
{
    display: flex;
    /*margin-left: 180px;*/
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: initial;
    /*max-width: 1000px;*/
}

.habilities-container-html
{
    border: 0.1px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #E54D26/*rgba(0,0,0,0.20)*/;
    width: 300px;
    padding: 0px 10px 0px 10px;
    /*padding-left: 10px;
    padding-right: 10px; */
    text-align: justify;
    background-image: url('https://imgur.com/nlnjAx9.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position-x: right;
    margin: 0px 100px 50px 0px;
    height: 200px;
}

.habilities-container-css3
{
    border: 0.1px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #0070BA /*rgba(0,0,0,0.20)*/;
    width: 300px;
    padding: 0px 10px 0px 10px;
    /*padding-left: 10px;
    padding-right: 10px; */
    text-align: justify;
    background-image: url('https://imgur.com/bJxKuj9.png');
    background-size: 40px;
    background-repeat: no-repeat;
    background-position-x: right;
    margin: 0px 100px 50px 0px;
}

.habilities-container-css-sass
{
    border: 0.1px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #CD6799 /*rgba(0,0,0,0.20)*/;
    width: 300px;
    padding: 0px 10px 0px 10px;
    /*padding-left: 10px;
    padding-right: 10px; */
    text-align: justify;
    background-image: url('https://imgur.com/2meIh8b.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position-x: right;
    margin: 0px 100px 50px 0px;
}


.habilities-title
{
    font-weight: 800;
}

.habilities-main-title
{
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    color: black;
}

/* EXPERIENCE */

.container-experience
{
    background-color: #15191C;
    color: white;
    height: 800px;
}

.experience
{
    display: flex;
    justify-content: center;
}

.experience-details{
    width: 500px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    padding: 10px 20px 10px 20px; 
    color: black;
    background-color: white;
}

.experience-image
{
    width: 350px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.experience-title
{
    text-align: center;
    font-weight: 900;
    font-size: 50px;
}

.experience-subtitle
{
    text-align: center;
}

/* EVENTS */

.events 
{
    display: inherit;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.event-container
{
    display: flex;
    background-color: white;
    margin-bottom: 50px;
}

.events-title
{
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    color: black;
}

.events-image-container
{
    width: 500px;
    height: 500px;
    background-color: #fafafa;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);

}

.events-description
{
    margin-top: -260px;
    position: relative;
    width: 400px;
    height: 210px;
    margin-left: 68px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

.events-description p 
{
    text-align: justify;
}

.events-description a
{
    text-decoration: none;
    border: 1px solid #0070BA;
    padding: 10px 20px;
    border-radius: 10px;
    color: #0070BA;
}

.events-article
{
    margin-bottom: 50px;
}

/* CONTACT ME */

.container-contact-me
{
    background-color: #15191C;
    color: white;
    padding: 5px 20px;
}

.container-contact-me h3
{
    font-size: 50px;
    font-weight: 900;
}

.contact
{
    display: block;
}

.form-email
{
    width: 500px;
    height: 200px;
}

.form-email label
{
    font-size: 30px;
} 

.form-input-email
{
    width: 270px;
    height: 50px;
    margin: 0;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 30px;
}

.submit-email
{
    height: 50px;
    width: 100px;
    background-color: transparent;
    color: inherit;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 20px;
}

/* FOOTER */

.container-footer
{
    background-color: lawngreen;
    height: 110px;
    border: 1px solid red;
    margin: 0px;
}

.footer
{
   font-size: 20px;
    text-align: center;
}

.footer-all-rights-title
{
    font-weight: 800;
}

.footer-with-love
{
    font-weight: 300;
}

/*.aboutMe
{
    background-image: url('https://imgur.com/kJklcv6.jpg');
    background-color: #15191C;
    background-repeat: no-repeat;
    background-size: 300px;
    background-position-x: right;
    color: white;
} */




/*MEDIAS QUERIES*/
/*Si hacemos desktop first, comenzamos desde el mas grande*/

@media screen and (max-width: 1024)
{

}

@media screen and (max-device-width: 768px)
{
    body
    {
        
    }
}

@media screen and (max-width: 480)
{

}

@media screen and (max-width: 320)
{

}