@font-face 
{
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?87coz9');
    src:  url('../fonts/icomoon.eot?87coz9#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?87coz9') format('truetype'),
      url('../fonts/icomoon.woff?87coz9') format('woff'),
      url('../fonts/icomoon.svg?87coz9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
  
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.icon-menu:before 
{
    content: "\e900";
}

body
{
    background-color: white; /*Con esta propiedad definimos el color de fondo*/
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Alata', sans-serif; /*Con esta propiedad definimos la tipografia*/
    font-weight: normal; /*Con esta propiedad colocamos el grosor basicamente de la fuente*/
}

/* HEADER */

.header
{
    background-color: #15191C;
    color: white;
    height: 90px;
}

.header-content 
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: inherit;
}

.header-logoContainer
{
    margin: 0px;
}

.menu{
    display: inherit;
    height: inherit;
}

.menu ol 
{
    display: inherit;
    align-items: center;
    height: inherit;
    margin: 0px;
}

.menu ol, li
{
    display: inherit;
    list-style: none;
    height: inherit;
    align-items: center;
}

.menu ol li a
{
    display: inherit;
    text-decoration: none;
    color: white;
    height: inherit;
    align-items: center;
    padding: 0px 10px;
}

/* ABOUT ME*/
.about-me
{
    text-align: center;
    background-color: #15191C;
    color: white;
}

.about-me strong
{
    color: lawngreen;
}

.about-me-name
{
    font-size: 40px; /*Con esta propiedad definimos el tamano de la fuente*/
    line-height: 1.5em; /*Con esta propiedad definimos el espaciado entre una linea y otra de la fuente*/
    letter-spacing: -0.5px; /*Con esta propiedad definimos el espaciado entre letras.*/
    /*text-transform: uppercase; Con esta propiedad definimos el tipo de texto, si todo en mayus o minus etc...*/
}

.about-me h1
{
    margin: 0px;
}

.about-me-image
{
    box-shadow: 2px 2px 10px white /*rgba(0,0,0,0.5)*/;
    border-radius: 10%;
    border-style: hidden;
}

.about-me-content
{
    /*padding: 0px 30em 20px 30em;*/
    text-align: center;
    margin-bottom: 0px;
}

/* CONTENT PAGE*/
/*These styes was deleted for a better style.*/
.content-page
{
    margin: 0px 50px 0px 50px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    padding: 10px 30px 10px 50px;
    background-color: white;
}

/* EDUCATION */

/* HABILITIES */

.container-habilities
{
    display: block;
}

.habilities
{
    display: inherit;
}

.habilities-container
{
    display: flex;
    /*margin-left: 180px;*/
    /*justify-content: center;*/
    flex-wrap: wrap;
    justify-content: space-around;
    /*flex-shrink: initial;*/
    /*max-width: 1000px;*/
}

.html5-container
{
    max-width: 300px;
    max-height: 200px;
}

.css3-container
{
    max-width: 300px;
    max-height: 200px;
}

.sass-container
{
    max-width: 300px;
    max-height: 200px;
}

.habilities-container-html
{
    border: 0.1px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #E54D26/*rgba(0,0,0,0.20)*/;
    padding: 0px 10px 0px 10px;
    /*padding-left: 10px;
    padding-right: 10px; */
    text-align: justify;
    background-image: url('https://imgur.com/nlnjAx9.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position-x: right;
    /*margin: 0px 100px 50px 0px;*/
}

.habilities-container-css3
{
    border: 0.1px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #0070BA /*rgba(0,0,0,0.20)*/;
    padding: 0px 10px 0px 10px;
    /*padding-left: 10px;
    padding-right: 10px; */
    text-align: justify;
    background-image: url('https://imgur.com/bJxKuj9.png');
    background-size: 40px;
    background-repeat: no-repeat;
    background-position-x: right;
    /*margin: 0px 100px 50px 0px;*/
}

.habilities-container-css-sass
{
    border: 0.1px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #CD6799 /*rgba(0,0,0,0.20)*/;
    padding: 0px 10px 0px 10px;
    /*padding-left: 10px;
    padding-right: 10px; */
    text-align: justify;
    background-image: url('https://imgur.com/2meIh8b.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position-x: right;
    /*margin: 0px 100px 50px 0px;*/
}


.habilities-title
{
    font-weight: 800;
}

.habilities-main-title
{
    display: inherit;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    color: black;
}

/* EXPERIENCE */

.container-experience
{
    background-color: #15191C;
    color: white;
    height: auto;
    display: block;
    justify-content: space-around;
}

.section-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.experience
{
    display: inherit;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.experience-details{
    width: 500px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    padding: 10px 20px 10px 20px; 
    color: black;
    background-color: white;
}

.experience-image
{
    width: 350px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.experience-title
{
    text-align: center;
    font-weight: 900;
    font-size: 50px;
}

.experience-subtitle
{
    text-align: center;
}

/* EVENTS */

.events 
{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.event-container
{
    display: block;
    background-color: white;
    margin-bottom: 50px;
}

.events-title
{
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    color: black;
}

.events-image-container
{
    width: 500px;
    height: 500px;
    background-color: #fafafa;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);

}

.events-description
{
    margin-top: -260px;
    position: relative;
    width: 400px;
    height: 210px;
    margin-left: 68px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

.events-description p 
{
    text-align: justify;
}

.events-description a
{
    text-decoration: none;
    border: 1px solid #0070BA;
    padding: 10px 20px;
    border-radius: 10px;
    color: #0070BA;
}

.events-article
{
    margin-bottom: 50px;
}

/* CONTACT ME */

.container-contact-me
{
    background-color: #15191C;
    color: white;
    padding: 5px 20px;
}

.container-contact-me h3
{
    font-size: 50px;
    font-weight: 900;
}

.contact
{
    display: block;
}

.form-email
{
    width: 500px;
    height: 200px;
}

.form-email label
{
    font-size: 30px;
} 

.form-input-email
{
    width: 270px;
    height: 50px;
    margin: 0;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 30px;
}

.submit-email
{
    height: 50px;
    width: 100px;
    background-color: transparent;
    color: inherit;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 20px;
}

/* FOOTER */

.container-footer
{
    background-color: lawngreen;
    height: 110px;
    border: 1px solid red;
    margin: 0px;
}

.footer
{
   font-size: 20px;
    text-align: center;
}

.footer-all-rights-title
{
    font-weight: 800;
}

.footer-with-love
{
    font-weight: 300;
}

/*.aboutMe
{
    background-image: url('https://imgur.com/kJklcv6.jpg');
    background-color: #15191C;
    background-repeat: no-repeat;
    background-size: 300px;
    background-position-x: right;
    color: white;
} */

.burguer-button
{
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: none;
    line-height: 70px;
    text-align: center;
    position: fixed;
    left: 5px;
    top: 5px;
    color: white;
    z-index: 4;
}

/*MEDIAS QUERIES*/
/*Si hacemos desktop first, comenzamos desde el mas grande*/

@media screen and (max-width: 1024)
{
   
}

@media screen and (max-device-width: 767px)
{
    .burguer-button
    {
        display: block;
    }

    .header
    {
        display: block;
        height: auto;
    }

    .header-content
    {
        display: inherit;
        height: auto;
    }

    .menu
    {
        position: fixed;
        top: 0px;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 3;
        width: 100vw;
        height: 100vh;
        left: -100vw;
        transition: .3s;
    }

    .menu.is-active
    {
        left: 0;
    }

    .menu ol
    {
        padding: 0%;
        margin-top: 30%;
        width: inherit;
        height: inherit;
    }

    .menu ol li
    {
        height: 15%;
    }

    .menu ol li a 
    {   display: flex;
        justify-content: center;
        width: 100%;
        font-size: 7em;
        text-decoration: underline;
    }

    .header-logoContainer
    {
        text-align: center;
    }

    .experience
    {
        margin-top: 0px;
    }

    .experience-details
    {
        margin: auto;
        padding: 1em;
        width: 95%;
    }

    .experience-image
    {
        width: 100%;
    }

    .event-container
    {
        width: auto;
    }

    .events-details
    {
        width: 100%;
    }

    .events-image-container
    {
        width: 100%;
        margin: auto;
    }

    .events-image
    {
        width: 100%;
        height: 80%;
    }

    .events-description
    {
        width: 80%;
        margin: auto;
        margin-top: -15em;
    }

}

@media screen and (max-width: 480)
{

}

@media screen and (max-width: 320)
{
    
}